body {
    font-family: var(--miller);
    // background-color: var(--primaryColor);
    // background-color: var(--primary-color);
    .hero-banner {
        background-image: url('/express-logistics.jpg');
    }

    // .hero-text {
    //     animation: hero-text1 2s 3s ease-in-out both;
    // }

    .nav-active {
        background-color: white;
        opacity: 0.8;
        .navtext {
            color: var(--primaryColor)
        }
    }
    // .nav-active {
    //     background-color: var(--primaryColor);
    //     .navtext {
    //         color: var(--primaryColor3)
    //     }
    // }

    .mapsf {
        background-image: url('/map-sf.svg');
    }

    @layer base {
        .countries-card {
            @apply space-y-1 p-2 m-1 border border-dashed border-sfprimary rounded-md;
        }
        .countries-network-card {
            @apply space-y-1 p-2 m-1;
        }
    }

    @layer components {
        .btn-getstarted{
            @apply animate-pulse text-center sm:w-10/12 md:w-1/2 hover:bg-sfsecondary hover:text-sfsecondary2 mb-2 inline-block rounded  border-2 border-sfsecondary px-12 pt-4 pb-3.5 text-sm font-bold uppercase leading-normal
        }
    }

  

    @keyframes hero-text1{
        from {
          /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        //   transform: none;
      }
         to {
            /* clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%); */
            clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
            // transform: scale(2);
            // color: white;  
        }
    }
    // @keyframes hero-text1{
    //     from {
    //       /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
    //       clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    //       transform: none;
    //   }
    //      to {
    //         /* clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%); */
    //         clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    //         // transform: scale(2);
    //         // color: white;  
    //     }
    // }

    // .api {
    //     transform-origin: center;
    //     transition: transform 2s ease-in-out;
    // }
   
    // .api.active {
    //     transform: rotate(360deg);
    //   }
      
}
